.flex-parent{
    background: blue;
    display: flex; /* 1 */
    flex-direction: row; /* 2 */    
    flex-wrap: wrap; /* 2 */
    height: 300px;
    justify-content: space-around; /* 3 */
}
.flex-child{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    background: yellow;
    color: red;
    font-size: 85px;
    text-align: center;
}